body{
    height: 100%;
    margin: 0 !important;
    color: #DDD;
    font-family: 'Merriweather', serif;
    text-align: left;
    background-color: #111;
    font-size: 16px;
}

.bg {

    background-image: url("../image/inSight.jpg");


    height: 100vh;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid
{
    padding: 0;
}
.col
{
    padding: 0;
}

.mes
{
    border: 1px solid #DDD;
    opacity: 0.8;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}

.mes:hover {
    opacity: 1;
}

.chart
{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.5);
}

#dataCol1
{
    padding-top: 15vh;
}

.wd-plot
{
    padding-top: 20vh;
}

a
{
    color: #DDD;
    text-decoration: none;
}
a:hover
{
    color: #DDD;
    text-decoration: none;
}

@media(max-width: 576px)
{
    html {font-size: 10px;}
    #title{}
    #description{margin-top: 20vh;}
    #measurements{}
    #data1{margin-top: 5vh;}
    #data2{margin-top: 2vh;}
    #data3{margin-left: 10vh;}
}

@media(max-width: 767px)
{
    html {font-size: 12px;}
    #title{}
    #description{margin-top: 22vh;}
    #measurements{}
    #data1{margin-top: 5vh;}
    #data2{margin-top: 2vh;}
    #data3{margin-left: 11vh;}
}


@media(max-width: 992px)
{
    html {font-size: 14px;}
    #title{}
    #description{margin-top: 24vh;}
    #measurements{}
    #data1{margin-top: 5vh;}
    #data2{margin-top: 2vh;}
    #data3{margin-left: 11vh;}
}


@media(min-width: 992px)
{
    html {font-size: 16px;}
    #measurements{margin-left: 5vh;}
    #data1{margin-top: 27vh;}
    #data2{margin-top: 37vh;}
    #data3{margin-top: 20vh;}
    #data4{margin-top: 4vh}
}